/* places.css */
.places {
    text-align: center;
}

.places h1 {
    text-align: left;
    vertical-align: top-left;
    font-size: 30px;
    margin: 40px 0 0 30px;
}

article {
    display: inline-block;
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}
